@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap');


*{
    margin :0;
    padding:0;
    box-sizing: border-box;
}

.App{
       width:100vw;
       font-family: 'Chau Philomene One', sans-serif;
    
}